* {
    margin: 0;
}
body {
    background-color: #0f172a;
}
.whole-shit {
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}
.calc {
    display: flex;
    flex-direction: column;
    gap:12px ;
    border-radius: 14px;
    padding: 10px;
    background-color: #0a0e1a;
    max-width: 30vh;
    max-height: 50vh;
}
.screen {
    display: flex;
    margin-top: 2px;
    min-height: 28px;
    background-color: #0a0e1a;
    color: #F5F7FA;
    font-size: 27px;
    align-items: flex-end;
    border-radius: 9px;
    padding: 4px;
    overflow-x: auto;
    overflow-y:visible;
    white-space: nowrap;
    scrollbar-width: none;
}
.board {
    border-radius: 12px;
    background-color: #334155;
    flex-grow: 1;
    padding: 12px;
}
button {
    padding: 6px;
    width:56px;
    height: 53px;
    border-radius: 28px;
    margin: 3px;
    font-size: 18px;
    font-weight:900;
    background-color: #E2E8F0;
    color: #0F172A;
    border: 1px solid #B8C2CE;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.3s ease;
}
button:hover {
    background: #a8b1bd;
    transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}
.operator {
    background-color: #3B82F6;
    color: #FFFFFF;
    font-size: 24px;
}
.operator:hover {
    background: #4338ca;
    transform: scale(1.05);
}
.operator:active {
  transform: scale(0.95);
}
.first-sec {
    display: flex;
}
#clear,#backspace {
    flex-grow: 1;
}
#clear {
    background-color:#EF4444;
    color: rgb(210, 253, 253);
}
#clear:hover {
    background: #ba1414;
    transform: scale(1.05);
}
#clear:active {
    transform: scale(.995);
}
.second-sec {
    display: flex;
}
.third-sec {
    display: flex;
}
.fourth-sec {
    display: flex;
}
.fifth-sec {
    display: flex;
}
#equal {
    background-color: #10B981;
    color: #FFFFFF;
}
#equal:hover {
    background: #047857;
    transform: scale(1.05);
}
#equal:active {
  transform: scale(0.95);
}





.container {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.container::before {
  content: "";
  position: absolute;

  width: 340px;
  height: 380px;

  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

  z-index: 0;
}

.icon,
.msg,
.subMsg,
.sub1,
.sub2 {
  position: relative;
  z-index: 1;
}

.msg {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.subMsg {
  font-size: 15px;
  text-align: center;
}

.sub1,
.sub2 {
  width: 240px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.icon svg {
  width: 140px;
  height: auto;
  display: block;
  background: transparent;
}

.sub1,
.sub2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.priceA,
.priceB {
  margin-left: auto;
  font-weight: bold;
}
.contt {
  position: fixed;
  inset: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.ppup {
  background: white;
  padding: 24px;
  border-radius: 14px;

  width: 320px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}